/0_politican_tweets_raw_data
/1_politican_tweets_combined_data
/2_turkish_emotions_dataset
/3_tweets_with_emotions
/4_sentiment_plots
/fine_tuned_turkish_bert_emotions
/fine_tuned_turkish_emotions
/results
/chekpoints
/sentiment_plots